<nav class="navbar navbar-light " style="height:65px ">
  <div class="container-fluid">
    <a><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrqKQwVH0LVLmVFzaty_I2Y4Q3QSu4J0fKrZtP62oqNw&s"
      style="height: 40px;"> Crossasyst</a>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>