.div1{
    margin-top:80px;
    margin-left:200px;
}
.card1{
    height: 430px;
    width: 90%;
    //background-color:rgba(26, 24, 24, 0.788);
}
.formdiv{
    width: 35%;
    margin-left: 25px;
    margin-top: 20px;
    color:black;
}

.card1A{
    display: flex;
   
}